@model ClaimPdfViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Libro de Reclamaciones</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
        th {
            font-weight: normal;
            padding-right: 60px;
        }

        .field-name {
            font-weight: bold !important;
            vertical-align: top!important;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="h2 form-title">
            Resumen final
        </div>
        <table class="">
            <thead>
                <tr>
                    <th scope="col" colspan="2">Información del Reclamante</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="field-name">Doc:</th>
                    <th class="" id="sumDocument">@Model.MainClaimer.DocumentType @Model.MainClaimer.DocumentNumber</th>
                </tr>
                <tr>
                    <th class="field-name">Nombres y apellidos:</th>
                    <th class="text-capitalize" id="sumFullName">@Model.MainClaimer.FullName</th>
                </tr>
                <tr>
                    <th class="field-name">Teléfono:</th>
                    <th class="" id="sumPhoneNumber">@Model.MainClaimer.PhoneNumber</th>
                </tr>
                <tr>
                    <th class="field-name">Respuesta a:</th>
                    <th class="" id="sumAnswerType">@Model.MainClaimer.ResponseTo</th>
                </tr>
                <tr>
                    <th class="field-name">Correo electrónico:</th>
                    <th class="text-lowercase" id="sumEMail">@Model.MainClaimer.EMail</th>
                </tr>
                <tr>
                    <th class="field-name">Dirección:</th>
                    <th class="text-capitalize" id="sumFullAddress">@Model.MainClaimer.Address</th>
                </tr>
                <tr>
                    <th class="field-name">Mayoría de edad:</th>
                    <th class="" id="sumIsAdult">@Model.IsAdult</th>
                </tr>
            </tbody>
        </table>
        @if (Model.IsAdult.Equals("No"))
        {
            <table class="">
                <thead>
                    <tr>
                        <th scope="col" colspan="2">Información del Apoderado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="field-name">Doc:</th>
                        <th class="" id="sumDocument">@Model.GuardClaimer.DocumentType @Model.GuardClaimer.DocumentNumber</th>
                    </tr>
                    <tr>
                        <th class="field-name">Nombres y apellidos:</th>
                        <th class="text-capitalize" id="sumFullName">@Model.GuardClaimer.FullName</th>
                    </tr>
                    <tr>
                        <th class="field-name">Teléfono:</th>
                        <th class="" id="sumPhoneNumber">@Model.GuardClaimer.PhoneNumber</th>
                    </tr>
                    <tr>
                        <th class="field-name">Respuesta a:</th>
                        <th class="" id="sumAnswerType">@Model.GuardClaimer.ResponseTo</th>
                    </tr>
                    <tr>
                        <th class="field-name">Correo electrónico:</th>
                        <th class="text-lowercase" id="sumEMail">@Model.GuardClaimer.EMail</th>
                    </tr>
                    <tr>
                        <th class="field-name">Dirección:</th>
                        <th class="text-capitalize" id="sumFullAddress">@Model.GuardClaimer.Address</th>
                    </tr>
                </tbody>
            </table>
        }
        <table class="mt-3">
            <thead>
                <tr>
                    <th scope="col" colspan="2">Identificación del Bien Contratado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="field-name">Tipo:</th>
                    <th class="">@Model.ContractedGood.GoodType</th>
                </tr>
                <tr>
                    <th class="field-name">Monto:</th>
                    <th class="" id="sumClaimedAmount">S/. @Model.ContractedGood.ClaimedAmount.ToString("0.00")</th>
                </tr>
                <tr>
                    <th class="field-name">Descripción:</th>
                    <th class="" id="sumClaimedAmount">@Model.ContractedGood.GoodDescription</th>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>